html, body, ng-view {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url('img/Wahlfield_2.png') no-repeat center center fixed;
  background-size: cover;
  background-position: bottom right;
  background-color: #236311;
}



