
header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 60px;
	background: rgba(256,256,256, 0.95);
	border-top: 20px solid black;
}

h1 {
	display: flex;
	justify-content: center;
	margin: 0px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
	font-style: italic;
	color: #A87403;
	margin-right: 100px;
}

.logo {
	position: fixed;
	top: 0px;
	left: 80px;
	height: 150px;
	width: 150px;
	/* border-radius: 50%;
	border: 1px solid #000;
	background: #fff;
	box-shadow: 5px 8px 25px #343434; */
}

.main-information-container {
	margin: auto;
	margin-top: 100px;
	width: 500px;
	height: 500px;
	border-radius: 10px;
	overflow-y: scroll;
	background: rgba(256,256,256, 0.6);
}

.logo img {
 height: 250px;
 width: 250px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0px;
	right: 0px;
	left: 0px;
	height: 20px;
	background-color: #fff;
	opacity: .9;
}

footer p {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	font-size: 13px;
}