<div class="trail-detail-container">
	<div>
		<p class="location-name">Location: {{$ctrl.thistrail.name}}</p>
	</div>
	<div class="activity-container">
		<div class="each-activity">
			<div class="trail-info" ng-repeat="thisactivity in $ctrl.thistrail.activities">
				<p>Activity: {{thisactivity.activity_type_name}}</p>
				<p>Length: {{thisactivity.length}}</p>
				<p>Rating: {{thisactivity.rating}}</p>
			</div>
		</div>
		<div class="activity-image">
			<img ng-if="$ctrl.thumbnail()" ng-src="{{$ctrl.thumbnail()}}" width="200">
		</div>
	</div>
	<div>
		<!-- Directions: {{$ctrl.thistrail.directions}} -->
	</div>
</div>